<p id="notice"><%= notice %></p>

<h1>Users Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_posts.each do |users_post| %>
      <tr>
        <td><%= users_post.title %></td>
        <td><%= users_post.body %></td>
        <td><%= users_post.user.email %></td>
        <td><%= link_to 'Show', users_post %></td>
        <td><%= link_to 'Edit', edit_users_post_path(users_post) %></td>
        <td><%= link_to 'Destroy', users_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Post', new_users_post_path %>
