<div class="post" data-id="<%= @post.id %>">
  <h2><%= @post.title %></h2>

  <p>Posted by <%= @post.user.username %> on <%= @post.friendly_date %> at <%= @post.friendly_time %>.</p>

  <%= render template: 'users/posts/comments/new', layout: false, locals: { post: @post } %>
  <%= render partial: 'shared/post_comments',  locals: { post: @post } %>
  <%= link_to 'Edit', edit_users_post_path(@post) %> |
  <%= link_to 'Back', users_posts_path %>
</div>