<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class='form-heading'>
    <div class='form-heading-title'>
      Sign Up
    </div>
    <div class='form-heading-links'>
      Have an account already? <%= link_to 'Sign In', new_session_path(resource_name) %>
    </div>
  </div>

  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div>
    <%= f.label :confirm_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class='form-submit-wrapper'>
    <%= f.submit 'Sign up', class: 'btn' %>
  </div>
<% end %>