<%= form_with(model: comment, url: url, id: 'comment-form', local: true) do |form| %>
  <%= hidden_field_tag :post_id, defined?(post) ? post.id : comment.post.id %>
  <% if comment.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(comment.errors.count, 'error') %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>