<%= form_with(model: users_posts_comment, url: url, local: true, id: "comment-form") do |form| %>
  <%= hidden_field_tag :post_id, post.id %>

  <% if users_posts_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_posts_comment.errors.count, "error") %> prohibited this users_posts_comment from being saved:</h2>

      <ul>
      <% users_posts_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, id: :users_posts_comment_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
