<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |c| %>
      <tr>
        <%= render partial: 'shared/post_votes', locals: { post: post } %>
        <td><%= c.body %></td>
        <td><%= c.user %></td>
        <td><%= c.post %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_c_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
