<div class='profile-container'>
  <div class='profile-overview'>
    <div class='profile-avatar-public'>
      <%= avatar_image_tag(user) %>
    </div>
    <!-- <h2><%= user.username %></h2> -->
    <div class='profile-title'>
      <%= user.username %>
    </div>
    <div class='member-since'>
      Registered <%= distance_of_time_in_words(user.created_at, Time.now) %> ago
    </div>
    <div class='about-me'>
      <!-- <h4>About me:</h4><%= user.about %> -->
      <p>
        Hello hello hello hello
        hello hello hello hello
        hello hello hello hello
        hello hello hello hello
        hello hello hello hello
        hello hello hello hello
        hello hello hello.
      </p>
    </div>
    <div class='public-score'>
      <div class='score-total'>Score: <%= user_score_sum_all(user) %></div>
      <div class='score-details'>
        <p>Question: <b><%= user_score_sum(user, :question) %></b></p>
        <p>Answer: <b><%= user_score_sum(user, :answer) %></b></p>
        <p>Comment: <b><%= user_score_sum(user, :comment) %></b></p>
      </div>
    </div>
    <div class='message-wrapper'>
      <%= link_to 'Send a message', new_users_message_path, class: 'btn' %>
    </div>
   </div>
</div>

