<div class='history-answers'>
  <% @answers.each do |answer| %>
    <% unless answer.deleted? %>
      <div class='answer' data-id='<%= answer.id %>'>
        <p class='title'><%= link_to answer.question.title, users_question_path(answer.question) %></p >
        <p class='body'><%= answer.body %></p>
        <p class='timestamp'><%= t(:submitted) %> <%=  t(:on_date) %> <%="#{answer.friendly_date}"%></p>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @answers %>
</div>
