<div class='profile-container'>
  <div class='profile-avatar-public'>
    <%= avatar_image_tag(current_user) %>
  </div>
  <p>Username: <b><%= @user.username %></b></p>
  <p>Member since: <b><%= @user.created_at.to_s[0...10] %></b></p>
  <div class='public-score'>
  	<h2>Submission score</h2>
    <span class='score-total'>Total score: <%= user_score_sum_all(@user) %></span>
    <div class='score-details'>
    	<p>Question: <b><%= user_score_sum(@user, :question) %></b></p>
    	<p>Answer: <b><%= user_score_sum(@user, :answer) %></b></p>
    	<p>Comment: <b><%= user_score_sum(@user, :comment) %></b></p>
    </div>
  </div>
  <div class='about-me'>
    <%= user_about_me(@user) %>
  </div>
  <div>
    <%= link_to 'Send a message', new_users_message_path, class: 'btn' %>
  </div>
</div>

