<% @user.questions.each do |question| %>
  <% unless question.deleted? %>
    <div class='question-small' data-id='<%= question.id %>'>
      <h4><%= link_to("#{question.title}", users_question_path(question)) %></h4>
      <p><%= t(:submitted) %> <%=  t(:on_date) %> <%="#{question.friendly_date}"%></p>
    </div>
  <% end %>
<% end %>
<%= will_paginate @questions %>
