<div class='history-questions'>
  <% @questions.each do |question| %>
    <% unless question.deleted? %>
      <div class='question-small' data-id='<%= question.id %>'>
        <p class='title'><%= link_to("#{question.title}", users_question_path(question)) %></p>
        <p class='timestamp'><%= t(:submitted) %> <%=  t(:on_date) %> <%="#{question.friendly_date}"%></p>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @questions %>
</div>
