<%= form_with(model: Comment.new, url: url, remote: true, id: 'form-reply-answer') do |f| %>
  <%= f.hidden_field :answer_id, value: answer.id %>

  <div>
    <%= f.text_area :body, id: 'reply-area'.to_sym %>
    <p id='reply-area-counter'></p>
  </div>

  <div class='form-submit-wrapper'>
    <%= f.submit "Create" %> 
  </div>

  <div>
  	<%= link_to('Cancel', '#', id: 'cancel-reply', class: 'btn-red') %>
  </div>
<% end %>