<div class="answer-votes" data-id="<%= answer.id %>">
  <div class="score">Score: <%= answer.score %></div>
  <% if user_signed_in? && answer.user != current_user %>

    <% if current_user.voted_up_on? answer %>
      <%= link_to 'Up', "/users/questions/answers/#{answer.id}/vote/up", 
        method: :post,
        remote: true,
        id: "answer-vote-up",
        class: "btn btn-green answer-vote-up" %>
    <% else %>
      <%= link_to 'Up', "/users/questions/answers/#{answer.id}/vote/up", 
        method: :post,
        remote: true,
        id: "answer-vote-up",
        class: "btn btn-default answer-vote-up" %>
    <% end %>

    <% if current_user.voted_down_on? answer  %>
      <%= link_to 'Down', "/users/questions/answers/#{answer.id}/vote/down", 
        method: :post,
        remote: true,
        id: "answer-vote-down", 
        class: "btn btn-red answer-vote-down" %>
    <% else %>
      <%= link_to 'Down', "/users/questions/answers/#{answer.id}/vote/down", 
        method: :post,
        remote: true,
        id: "answer-vote-down", 
        class: "btn btn-default answer-vote-down" %>
    <% end %>
  <% end %>
  <% if answer.user == current_user %>
    <%= link_to('Edit', edit_users_questions_answer_path(answer), class: "btn btn-primary") %>
    <%= link_to('Delete', users_questions_answer_path(answer), remote: true, method: :delete, data: { confirm: 'Are you sure?' }) %>
  <% end %>
</div>
