<!-- actions for a comment -->
<div class="comment-votes" data-id="<%= comment.id %>">
  <div class="score">Score: <%= comment.score %></div>
  <!-- upvote/downvote -->
  <% if user_signed_in? && comment.user != current_user %>

    <%= link_to 'Up', "/users/posts/comments/#{comment.id}/vote/up", 
      method: :post,
      remote: true,
      id: "comment-vote-up", 
      class: "btn btn-default comment-vote-up" %>

    <%= link_to 'Down', "/users/posts/comments/#{comment.id}/vote/down", 
      method: :post,
      remote: true,
      id: "comment-vote-down", 
      class: "btn btn-default comment-vote-down" %>
  <% end %>
  <% if comment.user == current_user %>
    <%= link_to('Edit', edit_users_posts_comment_path(current_user.id), class: "btn btn-primary") %>
    <%= link_to('Delete', users_posts_comment_path(comment), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger") %>
  <% end %>
</div>
