<div class='answer-comment comment' data-id='<%= comment.id %>'>
	<% if comment.deleted? %>
		<div class='comment-author'>
			<p>Anonymous</p>
		</div>
	<% else %>
		<div class='comment-author'>
		<%= link_to("#{comment.user.username}", user_profile_path(comment.user.username)) %>
		</div>
	<% end %>
	<div class='comment-body'>
		<%= comment.body %> 
	</div>
	<div>
		<%= render partial: 'users/questions/comments/form', locals: { comment: comment, answer: comment.answer, url: users_questions_comment_path(comment) } %>
		<%= render partial: 'shared/comment_links', locals: { comment: comment } %>
		<%= render partial: 'shared/comment_votes', locals: { comment: comment} if current_user == comment.user.username %>
	</div>
	on <%= comment.friendly_date %> at <%= comment.friendly_time %>
</div>