<nav>
  <%= link_to root_path do %>
    <%= image_tag 'quill_logo.svg', class: 'nav-logo-image' %>
  <% end %>
  <ul>
    <!--
      TODO: find a better place for this
    <li><%= link_to 'Contact us', new_inquiry_path %></li>-->
    <% if user_signed_in? %>
      <li>
        <%= link_to '#' do %>
          <%= fa_icon 'envelope' %>
          <span>Messages</span>
        <% end %>
      </li>
      <li>
        <%= link_to my_account_path do %>
          <%= fa_icon 'user-circle-o' %>
          <span>My account</span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= fa_icon 'sign-out' %>
          <span>Sign out</span>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_registration_path do %>
          <%= fa_icon 'user-plus' %>
          <span>Sign up</span>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path do %>
          <%= fa_icon 'sign-in' %>
          <span>Sign in</span>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= fa_icon 'bars 2x' %>
</nav>