<div class='question-small' data-id='<%= question.id %>'>
  <span class='question-avatar'><%= gravatar_image_tag question.user.email, class: 'avatar avatar-sm' unless question.deleted? %></span>
  <%= render partial: 'shared/question_title', locals: { question: question } %>
  <%= render partial: 'shared/question_author', locals: { question: question } %>
  <%= render partial: 'shared/question_links', locals: { question: question } %>
</div> 