<div class="question-votes <%= 'question-belonging-to-user' if question.user == current_user %>" data-id="<%= question.id %>">
  <%= question_vote_button(question, :up) %>
  <%= question_vote_score(question) %>
  <%= question_vote_button(question, :down) %>
</div>
