<div class='new-question-wrapper'>
  <%= link_to 'New Question', new_users_question_path %>
</div>

<% @questions.each do |question| %>
  <div class='question'>
    <%= render partial: 'shared/question_votes', locals: { question: question } %>
    <%= render partial: 'shared/question_title', locals: { question: question } %>
    <%= render partial: 'shared/question_author', locals: { question: question } %>
    <%= render partial: 'shared/question_links', locals: { question: question } %>
  </div> 
<% end %>

<%= will_paginate @questions %>