<div class='new-question-wrapper'>
  <% unless current_user.nil? %>
    <%= link_to new_users_question_path do %>
      <%= fa_icon('pencil') %> <%= t(:new_question) %>
    <% end %>
  <% end %>
</div>

<% @questions.each do |question| %>
  <%= render partial: 'shared/question_small', locals: { question: question } %>
<% end %>

<%= will_paginate @questions %>
