<div>
  <h1>Cover page</h1>
  <% if user_signed_in? %>
    <%= link_to('Create post', new_users_post_path, class: 'btn btn-default') %>
  <% end %>
</div>
<% @users_posts.reverse.each do |post| %>
  <div class='home-post post'>
    <%= render partial: 'shared/post_votes', locals: { post: post } %>
    <% if post.deleted? %>
     <h4>'<%= post.title %>' by [deleted]</h4>
    <% else %>
      <h4>'<%= post.title %>' by <%= link_to("#{post.user.username}", user_profile_path(post.user.username))%></h4>
    <% end %>
    <div>
      <%= post.body %>
    </div>
    <div class="show-post-wrapper">
      <%= link_to("Comments (#{post.comments.count})",
                  users_post_path(post),
                  remote: true,
                  method: :get,
                  class: 'btn btn-default') %>
    </div>
  </div>
</div>
<% end %>