<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='col-md-4 col-md-offset-4'>
      <div class='text-center'>
        <h1>Cover page</h1>
        <% if user_signed_in? %>
          <%= link_to 'New post', new_users_post_path, class: 'btn btn-default' %>
          <%= link_to 'My posts', users_posts_path, class: 'btn btn-default' %>
        <% end %>
      </div>
      <% @users_posts.reverse.each do |post| %>
        <div class='home-post'>
          <%= render partial: 'shared/post_votes', locals: { post: post } %>
          <h4>'<%= post.title %>' by <%= post.user.username %></h4>
          <div class='well'>
            <%= post.body %>
          </div>
          <div class="show-post-wrapper">
            <%= link_to 'Show', users_post_path(post), class: 'btn pull-right' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
