<%= form_with(model: question, url: url, local: true) do |form| %>
  <div class='form-heading'>
    <div class='form-heading-title'>
      What's your question?
    </div>
  </div>
  <% if question.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(question.errors.count, 'error') %> prohibited this question from being saved:</h2>
      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, id: :question_title, readonly: question.persisted? %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body, id: :question_body, rows: '5' %>
  </div>

  <div class='form-submit-wrapper'>
    <%= form.submit question.persisted? ? "Save" : "Create" %> 
  </div>
<% end %>