<div class='question-large' data-id="<%= @question.id %>">
  <h2><%= zero_width_space_interleave(@question.title).html_safe %></h2>

  <div class='question-date'>
    <% if @question.deleted? %>
      asked on <%= @question.friendly_date %> at <%= @question.friendly_time %>.
    <% else %>
      asked by <%= @question.user.username %> on <%= @question.friendly_date %> at <%= @question.friendly_time %>.
    <% end %>
  </div>

  <div class='question-body'>
    <%= @question.body %>
  </div>

  <%= render partial: 'users/questions/form', locals: {
    question: @question,
    url: users_question_path,
    form_header: ''
  } %>

  <% if user_signed_in? && current_user == @question.user %>
    <div class='question-tools'>
      <% unless @question.deleted? %>
        <%= link_to(t(:edit), edit_users_question_path(@question), remote: true, id: 'edit') %>
        <%= link_to(t(:delete), users_question_path(@question),
          remote: true,
          method: :delete,
          id: 'delete',
          data: { confirm: t(:are_you_sure)
        }) %>
      <% end %>
    </div>
  <% end %>

  <hr>

  <%= render template: 'users/questions/answers/new', layout: false, locals: { question: @question, answer: @answer } %>

  <% if @question.answers.blank? %>
    <%= t :no_one_answered_yet %>
  <% else %>
     <!--<%= @question.answers.count %> <%= t :showing_answers  %>-->
  <% end %>

  <%= render partial: 'shared/question_answers',  locals: { answers: @answers } %>
</div>
