<div class='question-large' data-id="<%= @question.id %>">
  <h2><%= zero_width_space_interleave(@question.title).html_safe %></h2>
  <p class='question-body'><%= zero_width_space_interleave(@question.body).html_safe %></p>
  <%= render partial: 'users/questions/form', locals: { question: @question, url: users_question_path, form_header: '' } %>
  <% if @question.deleted? %>
    <p>questioned on <%= @question.friendly_date %> at <%= @question.friendly_time %>.</p>
  <% else %>
    <p>questioned by <%= @question.user.username %> on <%= @question.friendly_date %> at <%= @question.friendly_time %>.</p>
    <%= link_to('Edit', edit_users_question_path(@question), remote: true, id: 'edit') if !current_user.nil? && current_user.username == @question.user.username %>
  <% end %>
  <%= render template: 'users/questions/answers/new', layout: false, locals: { question: @question, answer: @answer } %>
  <%= render partial: 'shared/question_answers',  locals: { answers: @answers } %>
</div>
