<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='form-header'>
    <div class='form-header-title'>
      <%= t(:sign_in) %>
    </div>
    <div class='form-header-links'>
      <%= t(:dont_have_an_account_yet) %> <%= link_to t(:sign_up), new_registration_path(resource_name) %>
    </div>
  </div>
  <div>
    <%= f.label :email, t(:email) %><br />
    <%= f.email_field :email,
      autofocus: true,
      value: Rails.env.development? ? 'test@test.com' : '' %>
  </div>

  <div>
    <%= f.label t(:password) %><br />
    <%= f.password_field :password,
      autocomplete: 'off',
      value: Rails.env.development? ? 'testtest' : '' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class='form-rememberable'>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t(:remember_me) %>
    </div>
  <% end -%>

  <div class='form-submit-wrapper'>
    <%= f.submit t(:sign_in) %>
  </div>

  <%= render 'devise/shared/links' %>
<% end %>
