<%= form_for @inquiry do |f| %>
  <div class='form-heading'>
    <div class='form-heading-title'>
      Contact Us
    </div>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div class="form-submit-wrapper">
    <%= f.submit "Submit" %>
  </div>
<% end %>