<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag("quill_logo.svg", class: "header-logo-image") %>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to("My account", account_index_path) %></li>
        <li><%= link_to("Log out", destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><%= link_to("Sign up", new_user_registration_path) %></li>
        <li><%= link_to("Log in", new_user_session_path) %></li>
      <% end %>
    </ul>
  </div>
</nav>