<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
  <%= body_tag do %>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/alert_notice' %>
    <div class='main-content' id='account-content'>
      <div class='tabs tabs-private' id='account-tabs'>
        <%= render partial: 'accounts/tabs_nav' %>
        <div class="tabs-content">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id='popover-backdrop'></div>
    <div id='popover-view-wrapper'>
      <div id='popover-view'>
        <div id='popover-view-controls'>
          <a href='#' id='popover-exit'>
            <i class="fa fa-times fa-4x"></i>
          </a>
        </div>
        <div id='popover-view-contents'>
        </div>
      </div>
    </div>
  <% end %>
</html>
