<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
  <body id='popover-parent'>
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/alert" %>
    <%= render partial: "shared/notice" %>
    <div class='main-content'>
      <%= yield %>
    </div>
    <%= render partial: 'shared/popover' %>
  </body>
</html>
