<p id="notice"><%= notice %></p>
<h2>Post history</h2>
<% user.posts.each do |post| %>
  <div class="well">
    <h4><%= link_to("#{post.title}", users_post_path(post)) %></h4>
    <p><%= post.body %></p>
  </div>
<% end %>
<h2>Comment history</h2>
<% user.comments.each do |comment| %>
  <div class="well">
    <h4><%= link_to("#{comment.post_id}", history_comment_post_link(comment.post_id)) %></h4>
    <p><%= comment.body %></p>
  </div>
<% end %>
