<div class='history-answers'>
  <% @answers.each do |answer| %>
    <div class='answer' data-id='<%= answer.id %>'>
      <% if answer.deleted? %>
        <h4>Answer anonymized.</h4>
      <% end %>
      <h4><%= link_to zero_width_space_interleave(answer.question.title).html_safe, users_question_path(answer.question) %></h4>
      <p><%= answer.body %></p>
    </div>
  <% end %>
  <%= will_paginate @answers %>

  <% if current_user.answers.empty? %>
    <%= t(:no_answers_submitted) %>
  <% end %>
</div>
