<div class='history-answers'>
  <% @answers.each do |answer| %>
    <div class='answer' data-id='<%= answer.id %>'>
      <% if user_signed_in? %>
         <%= link_to(t(:delete),
            users_questions_answer_path(answer),
            remote: true,
            method: :delete,
            data: { confirm: t(:are_you_sure) }) %>
      <% end %>
      <% if answer.deleted? %>
        <h4>Answer anonymized.</h4>
      <% end %>
      <h4><%= link_to zero_width_space_interleave(answer.question.title).html_safe, users_question_path(answer.question) %></h4>
      <p><%= answer.body %></p>
    </div>
  <% end %>
  <%= will_paginate @answers %>
  <% if current_user.answers.empty? %>
    <p><%= t(:no_answers_submitted) %></p>
  <% end %>
</div>
