<% @answers.each do |answer| %>
  <div class='answer' data-id='<%= answer.id %>'>
  <%= render partial: 'shared/answer_links', locals: { answer: answer } %>
    <h4><%= link_to zero_width_space_interleave(answer.question.title).html_safe, users_question_path(answer.question) %></h4>
    <p><%= answer.body %></p>
  </div>
<% end %>
<%= will_paginate @answers %>
<% if current_user.answers.empty? %>
  <p>You haven't submitted any answers yet!</p>
<% end %>