<div class='profile-avatar-private'>
  <%= avatar_image_tag(current_user) %>
</div>
<p><%= t(:username) %>: <b><%= current_user.username %></b></p>
<p><%= t(:email) %>: <b><%= current_user.email %></b></p>
<div class='private-score'>
  <h2><%= t(:score) %></h2>
  <span class='score-total'><%= t(:total) %>: <%= user_score_sum_all(current_user) %></span>
  <div class='score-details'>
    <p><%= t(:question) %>: <b><%= user_score_sum(current_user, :question) %></b></p>
    <p><%= t(:answer) %>: <b><%= user_score_sum(current_user, :answer) %></b></p>
    <p><%= t(:comment) %> <b><%= user_score_sum(current_user, :comment) %></b></p>
  </div>
</div>
<div class='about-me'>
  <%= user_about_me(current_user) %>
</div>
