<% @questions.each do |question| %>
  <div class='question-small' data-id='<%= question.id %>'>
    <% if question.deleted? %>
      <h4><%= t(:anonymous_question) %></h4>
    <% end %>
    <h4><%= link_to("#{question.title}", users_question_path(question)) %></h4>
  </div>
<% end %>

<%= will_paginate @questions %>
<!-- TODO: update the status if submission empty and new answer created -->
<!-- <% if current_user.questions.empty? %>
  <h2><%= t(:no_questions_submitted) %></h2>
<% end %> -->



