<% @questions.each do |question| %>
  <div class='question-small' data-id='<%= question.id %>'>
    <% if question.deleted? %>
      <h4><%= t(:anonymous_question) %></h4>
    <% end %>
    <h4><%= link_to("#{question.title}", users_question_path(question)) %></h4>
  </div>
<% end %>

<%= will_paginate @questions %>
<% if current_user.questions.empty? %>
  <%= t(:no_questions_submitted) %>
<% end %>



