<%= form_with(model: answer, url: url, remote: true, id: 'form_answer') do |f| %>
  <%= hidden_field_tag :question_id, question.id %>
  <% if answer.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(answer.errors.count, 'error') %> prohibited this answer from being saved:</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='answer-group'>
    <%= f.text_area :body, id: 'area-answer-new'.to_sym %>
    <p id='area-answer-counter-new'></p>
  </div>
  <div>
    <%= link_to('Cancel', '#', id: 'cancel-answer', class: 'btn-red') %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>


