<%= form_with(model: answer, url: url, id: 'edit_form_answer') do |form| %>
  <%= hidden_field_tag :question_id, defined?(question) ? question.id : answer.question.id %>
  <% if answer.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(answer.errors.count, 'error') %> prohibited this answer from being saved:</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :body, id: :area_answer %>
  </div>
  <div>
    <%= link_to('Cancel', '#', id: 'cancel', class: 'btn-red') %>
  </div>

  <div>
    <%= form.submit answer.persisted? ? "Save" : "Create" %> 
  </div>
<% end %>