<%= form_with(model: answer, url: url, remote: true, id: 'form_answer') do |f| %>
  <%= hidden_field_tag :question_id, defined?(question) ? question.id : answer.question.id %>
  <% if answer.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(answer.errors.count, 'error') %> prohibited this answer from being saved:</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.text_area :body, id: :area %>
  </div>
  <div>
    <%= link_to('Cancel', '#', id: 'cancel_answer', class: 'btn-red') if answer.persisted? %>
  </div>
  <div>
    <%= f.submit answer.persisted? ? "Save" : "Create" %> 
  </div>
<% end %>


